{% extends '::base.html.twig' %}

{% if voteForm is defined and voteForm is not null %}
{% form_theme voteForm _self %}
{% endif %}

{% block _vote_movies_widget %}
    {%- for child in form %}
        <td class="text-center">
            <label class="vote-cell-label" for="{{ child.vars.id }}">
                {{- form_widget(child) -}}
            </label>
        </td>
    {% endfor -%}
{% endblock %}

{% block body %}
    <div class="col-md-12">
        {% if session is defined and session is not null %}
            <h2>Prochaine séance ciné au mutualab: le mardi <strong>{{ session.date|date('d/m/Y') }}</strong></h2>

            <div class="infos">
                <p>Votez pour le film qui vous intéresse ou proposez le votre.</p>
                <p>Le film avec le plus grand nombre de vote sera diffusé.</p>
            </div>
            {% if session.movies is empty %}
                <h3>Pas encore de film ! :(</h3>
                <p>Vous pouvez proposer le votre en <a href="{{ path('movie_new') }}">cliquant ici</a></p>
            {% else %}
                {{ form_start(voteForm) }}
                <table>
                    <thead>
                    <tr>
                        <td></td>
                        {% for movie in session.movies %}
                            <td class="text-center{% if movie.image is empty %} movie-no-image{% endif %}">
                                <p class="movie-name">{{ movie.name }}</p>
                                {% if movie.image is not empty %}
                                    <img src="{{ asset('images/movies/'~movie.image)|imagine_filter('movie_thumb') }}" alt="{{ movie.name }}" title="{{ movie.name }}" style="max-width: 100%">
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for voter in sessionVoters %}
                        <tr class="voter-row">
                            <td class="text-center strong italic light">{{ voter.name }}</td>
                            {% for movie in session.movies %}
                                <td class="text-center voter-vote vote-{{ session.hasVotedForMovie(voter, movie) ? 'yes' : 'no' }}"></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            {{ form_widget(voteForm.userName, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(voteForm.userName) }}
                        </td>
                        {{ form_widget(voteForm.movies) }}
                        <td><input type="submit" value="A voté !" class="btn btn-success"></td>
                    </tr>
                    <tr>
                        <td></td>
                        {% for movie in session.movies %}
                            <td class="text-center"><span class="vote-total">{{ movie.voters.count }}</span></td>
                        {% endfor %}
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                {{ form_end(voteForm) }}

                <a href="{{ path('movie_new') }}" class="btn btn-primary">Proposer mon film</a>
            {% endif %}
        {% endif %}

        {% if createSessionForm is defined and createSessionForm is not null %}
            {% include ':default:create-session.html.twig' %}
        {% endif %}
    </div>
{% endblock %}
